<div class="d-flex">
  <!-- Barra lateral -->
  <app-menu></app-menu>

  <!-- Contenido principal -->
  <div class="flex-grow-1">
    
    <app-navbar></app-navbar>

    <!-- Contenido -->
    <div class="container py-4">
      <!-- Carros -->
      <section class="mb-5">
        <h2 class="text-center mb-2">Carros</h2>
        <p class="text-center mb-4">Selecciona el servicio que deseas reservar</p>
        <div class="row g-4 justify-content-center">
          <!-- Tarjeta 1 -->
          <div class="col-md-4 col-lg-3">
            <div class="card">
              <img src="Imagen1.png" alt="Lavado Express" class="card-img-top" />
              <div class="card-body">
                <h5 class="card-title">Lavado Express</h5>
                <p class="card-text">$100.000</p>
                <button class="btn btn-outline-primary">Saber más</button>
              </div>
            </div>
          </div>
          <!-- Tarjeta 2 -->
          <div class="col-md-4 col-lg-3">
            <div class="card">
              <img src="Imagen2.png" alt="Lavado Completo" class="card-img-top" />
              <div class="card-body">
                <h5 class="card-title">Lavado Completo</h5>
                <p class="card-text">$100.000</p>
                <button class="btn btn-outline-primary">Saber más</button>
              </div>
            </div>
          </div>
          <!-- Tarjeta 3 -->
          <div class="col-md-4 col-lg-3">
            <div class="card">
              <img src="Imagen3.png" alt="Lavado a vapor" class="card-img-top" />
              <div class="card-body">
                <h5 class="card-title">Lavado a vapor</h5>
                <p class="card-text">$110.000</p>
                <button class="btn btn-outline-primary">Saber más</button>
              </div>
            </div>
          </div>
          <!-- Tarjeta 4 -->
          <div class="col-md-4 col-lg-3">
            <div class="card">
              <img src="Imagen4.png" alt="Lavado de motor" class="card-img-top" />
              <div class="card-body">
                <h5 class="card-title">Lavado de motor</h5>
                <p class="card-text">$90.000</p>
                <button class="btn btn-outline-primary">Saber más</button>
              </div>
            </div>
          </div>
          <!-- Tarjeta 5 -->
          <div class="col-md-4 col-lg-3">
            <div class="card">
              <img src="Imagen5.png" alt="Lavado interno" class="card-img-top" />
              <div class="card-body">
                <h5 class="card-title">Lavado interno</h5>
                <p class="card-text">$80.000</p>
                <button class="btn btn-outline-primary">Saber más</button>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Motos -->
      <section class="mb-5">
        <h2 class="text-center mb-2">Motos</h2>
        <p class="text-center mb-4">Selecciona el servicio que deseas reservar</p>
        <div class="row g-4 justify-content-center">
          <div class="col-md-4 col-lg-3">
            <div class="card">
              <img src="Imagen1.png" alt="Lavado Express Moto" class="card-img-top" />
              <div class="card-body">
                <h5 class="card-title">Lavado basico</h5>
                <p class="card-text">$50.000</p>
                <button class="btn btn-outline-primary">Saber más</button>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-lg-3">
            <div class="card">
              <img src="Imagen1.png" alt="Lavado Completo Moto" class="card-img-top" />
              <div class="card-body">
                <h5 class="card-title">Lavado Cadena</h5>
                <p class="card-text">$20.000</p>
                <button class="btn btn-outline-primary">Saber más</button>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-lg-3">
            <div class="card">
              <img src="Imagen1.png" alt="Lavado Completo Moto" class="card-img-top" />
              <div class="card-body">
                <h5 class="card-title">Engrase</h5>
                <p class="card-text">$30.000</p>
                <button class="btn btn-outline-primary">Saber más</button>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Bus -->
      <section>
        <h2 class="text-center mb-2">Bus</h2>
        <p class="text-center mb-4">Selecciona el servicio que deseas reservar</p>
        <div class="row g-4 justify-content-center">
          <div class="col-md-4 col-lg-3">
            <div class="card">
              <img src="Imagen1.png" alt="Lavado Express Bus" class="card-img-top" />
              <div class="card-body">
                <h5 class="card-title">Lavado general bus</h5>
                <p class="card-text">$90.000</p>
                <button class="btn btn-outline-primary">Saber más</button>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-lg-3">
            <div class="card">
              <img src="Imagen1.png" alt="Lavado Completo Bus" class="card-img-top" />
              <div class="card-body">
                <h5 class="card-title">Limpieza de asientos</h5>
                <p class="card-text">$70.000</p>
                <button class="btn btn-outline-primary">Saber más</button>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>


<app-footer></app-footer>
